{% load static %}
{% load getstatus %}

<div class="small-container cart-page">
    {% if order %}
    <table>
        <tbody>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Price</th>
                <th>Status</th>
            </tr>
            {% for odr in order %}
            <tr>
                <td>{{odr.id}}</td>
                <td>{{odr.create_at}}</td>
                <td>{{odr.total_price}}</td>
                <td>{% getstatus odr.order_status %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3 style="color: green; text-align: center;">No orders !</h3>
    {% endif %}

</div>