{% load static %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{ product.image.url }}" width="100%" id="ProductImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="{% static  'images/gallery-1.jpg'  %}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="{% static  'images/gallery-2.jpg'  %}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="{% static  'images/gallery-3.jpg'  %}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="{% static  'images/gallery-4.jpg'  %}" width="100%" class="small-img">
                </div>
            </div>

        </div>
        <div class="col-2">
            <h4>{{product.title}}</h4>
            <h3>{{product.describtion}}</h3>
            <h4>${{product.price}}</h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>L</option>
                <option>M</option>
                <option>S</option>
            </select>
            <form action="{% url 'addtocart' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{ product.id }}" name="product_id">
                <input type="number" name="quantity" value="1">
                <button class="btn" type="submit">Add To Cart</button>
            </form>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>Give your summer wardrobe a style upgrade with the HRX Men's Active T-Shirt. Team it with a pair of
                shorts for your morning workout or a denims for an evening out with the guys.</p>
        </div>
    </div>
</div>